<a href="https://colab.research.google.com/github/gracesjy/github.io/blob/main/%EB%8D%B0%EC%8B%B8%EB%85%B8%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

file_url = 'https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv'
data = pd.read_csv(file_url, skipinitialspace = True) # ‚ù∂

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
data.groupby(["Pclass", "Sex"]).mean()

TypeError: Could not convert Cumings, Mrs. John Bradley (Florence Briggs Thayer)Futrelle, Mrs. Jacques Heath (Lily May Peel)Bonnell, Miss. ElizabethSpencer, Mrs. William Augustus (Marie Eugenie)Harper, Mrs. Henry Sleeper (Myna Haxtun)Icard, Miss. AmelieFortune, Miss. Mabel HelenNewsom, Miss. Helen MonypenyPears, Mrs. Thomas (Edith Wearne)Chibnall, Mrs. (Edith Martha Bowerman)Isham, Miss. Ann ElizabethBrown, Mrs. James Joseph (Margaret Tobin)Lurette, Miss. EliseNewell, Miss. MadeleineBazzani, Miss. AlbinaHarris, Mrs. Henry Birkhardt (Irene Wallach)Thorne, Mrs. Gertrude MaybelleCherry, Miss. GladysWard, Miss. AnnaGraham, Mrs. William Thompson (Edith Junkins)Bissette, Miss. AmeliaAndrews, Miss. Kornelia TheodosiaBarber, Miss. Ellen "Nellie"Bishop, Mrs. Dickinson H (Helen Walton)Allison, Miss. Helen LoraineBaxter, Mrs. James (Helene DeLaudeniere Chaput)Fleming, Miss. MargaretPenasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)Francatelli, Miss. Laura MabelHays, Miss. Margaret BechsteinRyerson, Miss. Emily BorieWick, Miss. Mary NatalieSpedden, Mrs. Frederic Oakley (Margaretta Corning Stone)Young, Miss. Marie GriceHippach, Miss. Jean GertrudeFrauenthal, Mrs. Henry William (Clara Heinsheimer)Burns, Miss. Elizabeth MargaretFortune, Miss. Alice ElizabethBowerman, Miss. Elsie EdithWarren, Mrs. Frank Manley (Anna Sophia Atkinson)Aubart, Mme. Leontine PaulineMeyer, Mrs. Edgar Joseph (Leila Saks)Bidois, Miss. RosalieHolverson, Mrs. Alexander Oskar (Mary Aline Towner)Newell, Miss. MarjorieMinahan, Miss. Daisy ECarter, Miss. Lucile PolkKenyon, Mrs. Frederick R (Marion)Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)Eustis, Miss. Elizabeth MusseyAllison, Mrs. Hudson J C (Bessie Waldo Daniels)Maioni, Miss. RobertaRothschild, Mrs. Martin (Elizabeth L. Barrett)Perreault, Miss. AnneHippach, Mrs. Louis Albert (Ida Sophia Fischer)LeRoy, Miss. BerthaFrolicher, Miss. Hedwig MargarithaCrosby, Miss. Harriet RDuff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")Taussig, Mrs. Emil (Tillie Mandelbaum)Appleton, Mrs. Edward Dale (Charlotte Lamson)Silvey, Mrs. William Baird (Alice Munger)Thayer, Mrs. John Borland (Marian Longstreth Morris)Taussig, Miss. RuthStephenson, Mrs. Walter Bertram (Martha Eustis)Shutes, Miss. Elizabeth WLongley, Miss. Gretchen FiskeSagesser, Mlle. EmmaTaylor, Mrs. Elmer Zebley (Juliet Cummins Wright)Madill, Miss. Georgette AlexandraAstor, Mrs. John Jacob (Madeleine Talmadge Force)Cleaver, Miss. AliceMayne, Mlle. Berthe Antonine ("Mrs de Villiers")Endres, Miss. Caroline LouiseAllen, Miss. Elisabeth WaltonRyerson, Miss. Susan Parker "Suzette"Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)Carter, Mrs. William Ernest (Lucile Polk)Hogeboom, Mrs. John C (Anna Andrews)Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)Dick, Mrs. Albert Adrian (Vera Gillespie)Leader, Dr. Alice (Farnham)Chambers, Mrs. Norman Campbell (Bertha Griggs)Hays, Mrs. Charles Melville (Clara Jennings Gregg)Stone, Mrs. George Nelson (Martha Evelyn)Compton, Miss. Sara RebeccaSerepeca, Miss. AugustaGoldenberg, Mrs. Samuel L (Edwiga Grabowska)Lines, Miss. Mary ConoverWick, Mrs. George Dennick (Mary Hitchcock)Swift, Mrs. Frederick Joel (Margaret Welles Barron)Beckwith, Mrs. Richard Leonard (Sallie Monypeny)Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)Graham, Miss. Margaret Edith to numeric